<div class="animated fadeIn">

 
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header bg-dark">
            <i class="fa fa-plus"></i> {{ 'addNew' | translate }}

        
          </div>
          <div class="card-body">
            <div class="col-lg-12">
            <div class="text-right">
              <button class="btn btn-success btn-square" (click)='save()'><i class="fa fa-plus"></i> {{ 'c.add' | translate }}</button>
            </div>
          </div>
          <hr>
          <div class="row">
            <label class="text-danger">(*) {{ 'reqField' | translate }}</label>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label class="">{{ 'name' | translate }}</label>
              <span *ngIf='!user.name' class="text-danger"> * </span>
              <input [(ngModel)]='user.name' [placeholder]="'name' | translate" class="form-control">
            </div>
            <div class="col-md-6">
              <label class="">{{ 'surName' | translate }}</label>
              <span *ngIf='!user.surName' class="text-danger"> * </span>
              <input [(ngModel)]='user.surName' [placeholder]="'surName' | translate" class="form-control">
            </div>
          </div>
          <div class="row">
           
            <div class="col-md-6">
              <label class="">{{ 'userName' | translate }}</label>
              <span *ngIf='!user.userName' class="text-danger"> * </span>
              <input [(ngModel)]='user.userName' [placeholder]="'userName' | translate"  class="form-control">
            </div>
            <div class="col-md-6">
                <label class="">{{ 'password' | translate }}</label>
                <span *ngIf='!user.password' class="text-danger"> * </span>
                <input  type="password" [(ngModel)]='user.password' [placeholder]="'password' | translate" class="form-control">
              </div>
          </div>
          <div class="row">
            <div class="col-md-6">
                <label class="">{{ 'mail' | translate }}</label>
                <span *ngIf='!user.mail' class="text-danger"> * </span>
                <input [(ngModel)]='user.mail' [placeholder]="'exampleMail' | translate" class="form-control">
              </div>
            <div class="col-md-6">
            
              <label class="switch switch-label switch-pill switch-primary"> {{ 'isProbatory' | translate }}
                <input checked="" class="switch-input" [(ngModel)]='user.isProbatory' type="checkbox">
                <span class="switch-slider" data-checked="✓" data-unchecked="✕"> </span>
              </label></div>
          </div>
          <div class="row">
            <div class="col-md-6">
                <label class="">{{ 'language' | translate }}</label>
                <span *ngIf='!user.languageId' class="text-danger"> * </span>
   <select [(ngModel)]='user.languageId' class="form-control">
       <option *ngFor='let item of language' [ngValue]='item.code'>{{item.name}}</option>
   </select>
              </div>
            <div class="col-md-6">
              <label class="">{{ 'rol' | translate }}</label>
              <span *ngIf='!user.rolId' class="text-danger"> * </span>
              <select [(ngModel)]='user.rolId' class="form-control">
                  <option *ngFor='let item of role' [ngValue]='item.id'>{{item.rolName}}</option>
              </select>
            </div>
          </div>
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->
  </div>
  