
<div class="modal-header">
    <h4 class="modal-title"><strong>{{ 'perSchedule' | translate }}</strong> </h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="animated fadeIn">
          <div class="modal-body">
          <div class="row">
            <label class="text-danger">(*) {{ 'reqField' | translate }}</label>
          </div>
      
        
          <div class="row">               
           <button (click)='eventVisible=!eventVisible' class="btn btn-outline-primary">{{ 'newEvent' | translate }}</button>
         
          <div *ngIf='eventVisible' class="input-prepend input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-plus"></i></span>
            </div>
           
            <input [(ngModel)]="event.name"  placeholder="{{ 'eventType' | translate }}" class="form-control">
            <span class="input-group-append">
              <button (click)='saveEvent()' class="btn btn-info" type="button">{{ 'c.add' | translate }}</button>
            </span>
          </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>{{ 'date' | translate }}</label>
           <input class="form-control" type="date" [(ngModel)]='per.eventDate'>
            </div>
          <div class="col-md-6">
            <label>{{ 'eventType' | translate }}</label>
            <select class="form-control" [(ngModel)]='per.eventTypeId'>
              <option *ngFor='let item of eventsType' [ngValue]='item.id'>{{item.name}}</option>
            </select>
          </div>
          
          </div>
          <div class="row">               
           
          </div>
          <div class="row"> 
            <label>{{ 'note' | translate }}</label>            
          <textarea class="form-control" [(ngModel)]='per.note'></textarea>
          </div>
      </div>
          <div class="modal-footer">
            <button class="btn btn-info" (click)='save()'><i class="fa fa-edit"></i> {{ 'c.add' | translate }}</button>
            <button type="button" class="btn btn-ghost-danger" (click)="close()"> {{ 'close' | translate }}</button>           
        </div>