<div class="animated fadeIn">

 
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header bg-success">
            <i class="fa fa-align-justify"></i> {{ 'patient' | translate }}

        
          </div>
          <div class="card-body">
            <div class="col-lg-12">
              <div class="text-right">
                <button class="btn btn-danger btn-square" (click)='close()'><i class="fa fa-plus"></i> {{ 'close' | translate }}</button>
              </div>
            </div>
            <hr>
           
            <label class="switch switch-label switch-primary">
              <input checked="" [(ngModel)]='filterVisible' class="switch-input" type="checkbox">
              <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
            </label>
           
            <div class="card" *ngIf='filterVisible'>
              <div class="card-header">
                <i class="fa fa-search"></i> {{ 'filter' | translate }}
    
            
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
                    <label class="">{{ 'filterBy' | translate }}</label>
                  
                    <label class="">{{ 'field' | translate }}</label>
              
                    <input [(ngModel)]="filterOne"  class="form-control">
                  </div>
                  <div class="col-md-2">
                    <div class="text-right">
                      <button class="btn btn-primary btn-square" (click)='getAll()'><i class="fa fa-search"></i> {{ 'search' | translate }}</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           
            <table class="table table-hover">
              <thead>
                <tr>
                    <th>{{ 'name' | translate }}</th>
                  <th>{{ 'phone1' | translate }}</th>

                  <th>{{ 'actions' | translate }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor='let item of patients'>
                  <td>{{item.name}}</td>
                  <td>{{item.phone}}</td>
                
                  <td>
                    <button (click)='newConsultaton(item.id)'  class="btn btn-outline-primary btn-pill"><i class="fa fa-hand-o-left"></i> {{ 'newConsultation' | translate }}</button>
                  </td>
                </tr>
               
              </tbody>
            </table>
            <div class="col-md-12">
              <button class="btn btn-secondary" (click)=changePage(false) [disabled]='!dataPage.hasPrevious'>Prev</button>
              <label>Pag. {{dataPage.currentPage}} of {{dataPage.totalPage}}</label>
              <button class="btn btn-secondary" (click)=changePage(true) [disabled]='!dataPage.hasNext'>Next</button>
              <label>[Total Rows: {{dataPage.totalCount}}]</label>
       </div>
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->
  </div>
  