
<div class="modal-header">
    <h4 class="modal-title"><strong>{{ 'c.edit' | translate }}</strong> </h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="animated fadeIn">
          <div class="modal-body">
           
     
          <div class="row">
            <label class="text-danger">(*) {{ 'reqField' | translate }}</label>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label class="">{{ 'name' | translate }}</label>
              <span class="text-danger"> * </span>
              <input [(ngModel)]='country.name' class="form-control">
            </div>
            <div class="col-md-6">
              <label class="">{{ 'code' | translate }}</label>
              <span class="text-danger"> * </span>
              <input [(ngModel)]='country.code' class="form-control">
            </div>
          </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-ghost-info" (click)='edit()'><i class="fa fa-edit"></i> {{ 'c.edit' | translate }}</button>
            <button type="button" class="btn btn-ghost-danger" (click)="close()">Cerrar</button>
           
        </div>
      </div>
      <!--/.col-->
  
  