<div class="animated fadeIn">


    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header bg-success">
            <i class="fa fa-plus"></i> {{ 'addNew' | translate }}
  
  
          </div>
          <div class="card-body">
            <div class="col-lg-12">
              <div class="text-right">
                <button class="btn btn-info" (click)='save()'><i class="fa fa-save"></i>
                  {{ 'c.add' | translate }}</button>
              </div>
            </div>
            <img src="../../../../../assets/icon/patient.png" width="70" height="70">
            <hr>
            <div class="row">
              <label class="text-danger">(*) {{ 'reqField' | translate }}</label>
            </div>
  
            <nz-tabset>
              <nz-tab nzTitle= "{{'personalInformation' | translate}}">
               
              <div class="row">
                <div class="col-md-6">
                  <label class="">{{ 'name' | translate }}</label>
                  <span *ngIf='!patient.name' class="text-danger"> * </span>
                  <input [(ngModel)]='patient.name' class="form-control">
                </div>
                <div class="col-md-6">
                  <label class="">{{ 'documentNumber' | translate }}</label>
               
                  <input [(ngModel)]='patient.documentNumber' class="form-control">
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <span *ngIf='!patient.phone' class="text-danger"> * </span>
                  <label class="">{{ 'phone1' | translate }}</label>
         
                  <input [(ngModel)]='patient.phone' class="form-control">
                </div>
                <div class="col-md-6">
                  <label class="">{{ 'ssn' | translate }}</label>
                 
                  <input [(ngModel)]='patient.sSN' class="form-control">
                </div>
              </div>
            
           
              <div class="row">
                <div class="col-md-6">
                  <label class="">{{ 'bornDate' | translate }}</label>
                 
                  <input [(ngModel)]='patient.bornDate' type="date" class="form-control">
                </div>
                <div class="col-md-6">
                    <label class="">{{ 'ars' | translate }}</label>
                  <span *ngIf='arss.length==0'><label class="text-primary">({{ 'notars' | translate }})</label></span>
                    <select class="form-control" [(ngModel)]='patient.arsId'>
                      <option value=null >N/A</option>
                      <option *ngFor='let item of arss' [ngValue]='item.id'>{{item.name}}</option>
                    </select>
                  </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                    <label class="">{{ 'mail' | translate }}</label>
                   
                    <input [(ngModel)]='patient.mail'  class="form-control">
                  </div>
                 
                    <div class="col-md-6">
                      <label class="">{{ 'sex' | translate }}</label>
                     
                      <select class="form-control" [(ngModel)]='patient.sex'>
                        <option *ngFor='let item of sexList' [ngValue]='item.value'>{{item.header}}</option>
                      </select>
                    </div>
      
                
  
              </div>
              <div class="row">
                <div class="col-md-12">
                    <label class="">{{ 'ref1' | translate }}</label>
                   
                    <input [(ngModel)]='patient.reference1' type="text" class="form-control">
                  </div>
                
  
              </div>
              <div class="row">
                <div class="col-md-12">
                    <label class="">{{ 'ref2' | translate }}</label>
                   
                    <input [(ngModel)]='patient.reference2'  class="form-control">
                  </div>            
  
              </div>
              <div class="row">
                <div class="col-md-12">
                    <label class="">{{ 'ref3' | translate }}</label>
                   
                    <input [(ngModel)]='patient.reference3'  class="form-control">
                  </div>
                
  
              </div>
        
              </nz-tab>
              <nz-tab nzTitle="{{'interrogation' | translate}}">
              
                <div class="row" *ngFor='let item of questions;let i of index'>
                  <div class="col-md-12">
                    <label class="">{{item.question}}</label>            
                    <input [(ngModel)]='item.answer' type="{{item.type}}" value="{{item.answer}}" class="form-control">
                   
                  </div>
                 
                </div>

              </nz-tab>
              <nz-tab nzTitle="{{'familiarInformation' | translate}}">
                <div class="row">
                  <div class="col-md-6">
                      <label class="">{{ 'fatherName' | translate }}</label>                     
                      <input [(ngModel)]='patient.fatherName'  class="form-control">
                    </div>                   
                      <div class="col-md-6">
                        <label class="">{{ 'fatherAge' | translate }}</label>
                        <input [(ngModel)]='patient.fatherAge' type=number  class="form-control">
                      </div>    
                </div>
                <div class="row">
                  <div class="col-md-6">
                      <label class="">{{ 'motherName' | translate }}</label>                     
                      <input [(ngModel)]='patient.motherName'  class="form-control">
                    </div>                   
                      <div class="col-md-6">
                        <label class="">{{ 'motherAge' | translate }}</label>
                        <input [(ngModel)]='patient.motherAge' type=number  class="form-control">
                      </div>    
                </div>
                <div class="row">
                  <div class="col-md-6">
                      <label class="">{{ 'partnerName' | translate }}</label>                     
                      <input [(ngModel)]='patient.partnerName'  class="form-control">
                    </div>                   
                      <div class="col-md-6">
                        <label class="">{{ 'partnerAge' | translate }}</label>
                        <input [(ngModel)]='patient.partnerAge' type=number  class="form-control">
                      </div>    
                </div>
                <div class="row">
                  <div class="col-md-6">
                      <label class="">{{ 'civilStatus' | translate }}</label>    
                      <select [(ngModel)]='patient.civilStatus' class="form-control">
                        <option value='M'>Menor</option>
                        <option value='C'>Casado/a</option>
                        <option value='S'>Soltero/a</option>
                      </select>
                    </div>                   
                      <div class="col-md-6">
                        <label class="">{{ 'childQty' | translate }}</label>
                        <input [(ngModel)]='patient.childQty' type=number  class="form-control">
                      </div>    
                </div>
              </nz-tab>
              <nz-tab  nzTitle="{{'medicalhistory' | translate}}">
                <div class="row">
                  <div class="col-md-6">
                    <p class="">{{ 'hasPreviouslyOperated' | translate }}</p>        
                    <label class="switch switch-label switch-pill switch-primary">
                      <input type="checkbox"  [(ngModel)]='patient.hasPreviouslyOperated' class="switch-input" checked>
                      <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
                    </label>
                    </div>                   
                      <div *ngIf='patient.hasPreviouslyOperated' class="col-md-6">
                        <label class="">{{ 'howOftenOperated' | translate }}</label>
                        <input [(ngModel)]='patient.howOftenOperated' type=number  class="form-control">
                      </div>    
                </div>
                <div *ngIf='patient.hasPreviouslyOperated' class="row">
                  <div class="col-md-12">
                                    
                      <div  class="col-md-12">
                        <label class="">{{ 'operatonSpecificacion' | translate }}</label>
                       <textarea class="form-control" [(ngModel)]='patient.operationSpecification'></textarea>
                      </div>    
                </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <p class="">{{ 'haveThePatientHadanAccident' | translate }}</p>        
                    <label class="switch switch-label switch-pill switch-primary">
                      <input type="checkbox"  [(ngModel)]='patient.haveThePatientHadanAccident' class="switch-input" checked>
                      <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
                    </label>
                    </div>                   
                      <div *ngIf='patient.haveThePatientHadanAccident' class="col-md-8">
                        <label class="">{{ 'accidentSpecification' | translate }}</label>
                        <textarea [(ngModel)]='patient.accidentSpecification' class="form-control"> </textarea>
                      </div>    
                </div>
              </nz-tab>
              <nz-tab nzTitle="{{'allergies' | translate}}">
                <div class="row">
                  <div class="col-md-4">
                    <p class="">{{ 'hasAllergySomeMedicine' | translate }}</p>        
                    <label class="switch switch-label switch-pill switch-primary">
                      <input type="checkbox"  [(ngModel)]='patient.hasAllergySomeMedicine' class="switch-input" checked>
                      <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
                    </label>
                    </div>                   
                      <div *ngIf='patient.hasAllergySomeMedicine' class="col-md-8">
                        <label class="">{{ 'hasAllergySomeMedicineSpecification' | translate }}</label>
                        <input [(ngModel)]='patient.hasAllergySomeMedicineSpecification' type=text  class="form-control">
                      </div>    
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <p class="">{{ 'hasAllergySomeFood' | translate }}</p>        
                    <label class="switch switch-label switch-pill switch-primary">
                      <input type="checkbox"  [(ngModel)]='patient.hasAllergySomeFood' class="switch-input" checked>
                      <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
                    </label>
                    </div>                   
                      <div *ngIf='patient.hasAllergySomeFood' class="col-md-8">
                        <label class="">{{ 'hasAllergySomeFoodSpecification' | translate }}</label>
                        <input [(ngModel)]='patient.hasAllergySomeFoodSpecification' type=text  class="form-control">
                      </div>    
                </div>
              </nz-tab>
            </nz-tabset>

          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->
  </div>