<div class="animated fadeIn">

 
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header bg-success">
            <i class="fa fa-plus"></i> {{ 'addNew' | translate }}

        
          </div>
          <div class="card-body">
            <div class="col-lg-12">
            <div class="text-right">
              <button class="btn btn-info" (click)='save()'><i class="fa fa-save"></i> {{ 'c.add' | translate }}</button>
            </div>
          </div>
          <hr>
          <div class="row">
            <label class="text-danger">(*) {{ 'reqField' | translate }}</label>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label class="">{{ 'name' | translate }}</label>
              <span class="text-danger"> * </span>
              <input [(ngModel)]='country.name' class="form-control">
            </div>
            <div class="col-md-6">
              <label class="">{{ 'code' | translate }}</label>
              <span class="text-danger"> * </span>
              <input [(ngModel)]='country.code' class="form-control">
            </div>
          </div>
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->
  </div>
  